# Flutter & Dart-related
.dart_tool/
.flutter-plugins*
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked*.*

# IDE and Editor files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Ignored Platforms
linux/
macos/
web/
windows/

# Android-specific
android/**/gradle-wrapper.jar
.gradle/
android/captures/
android/gradlew*
android/local.properties
android/key.properties
*.jks

# iOS/macOS-specific
ios/**/Pods/
ios/**/.symlinks/
ios/**/DerivedData/
ios/**/xcuserdata/
ios/**/Flutter/ephemeral/
ios/**/Flutter/App.framework
ios/**/Runner/GeneratedPluginRegistrant.*
macos/**/Flutter/ephemeral/
macos/**/GeneratedPluginRegistrant.swift

# Windows/Linux
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*

# Coverage and symbols
coverage/
app.*.symbols

# Miscellaneous and OS files
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.buildlog/
.history/
.svn/

# Exceptions (if you intentionally want to keep these)
!ios/**/default.*v3
!packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!.vscode/settings.json